
<!DOCTYPE html>
<html lang="en">
    {% extends 'padre.html' %}

    {% load static %}
    
    {% block bloqueQueCambia %}
    <head>

        <br>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Editar</title>
    </head>
    <body>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="Submit" value="Enviar">

        </form>
        <p> <a href="{% url 'lista'  %}">Regresar</a></p>

    </body>
    {% endblock bloqueQueCambia %}

    </html>

