<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'padre.html' %}

    {% load static %}
    
    {% block bloqueQueCambia %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
</head>
<body>
    <form action="" method="POST">{% csrf_token %}
        {{miformulario.as_p}}
        <button type='submit'>Editar</button>
    </form>
    {% endblock bloqueQueCambia %}

</body>
</html>