<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'padre.html' %}

    {% load static %}
    
    {% block bloqueQueCambia %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar pelicula</title>
</head>
<body>
    <form method="post">{% csrf_token %}
        Estas seguro  que queres eliminar la pelicula"{{object}} "?
        <input type="Submit" value="Confirmar">


    </form>
</body>
    {% endblock bloqueQueCambia %}
</html>